<!-- Footer -->
<footer class="text-center">
  <p class="align-text-bottom">
    Made with ❤️ by Davide @
    <a href="https://sprintstudio.co" target="_blank">Sprint Studio</a><br />
    Copyright &copy; {{ site.footer.copyright }} 20{{ site.time | date: '%y' }}
    - All rights reserved
  </p>

  <p>
    <a
      href="https://twitter.com/00taffe?ref_src=twsrc%5Etfw"
      class="twitter-follow-button"
      data-show-count="false"
      >Follow @00taffe</a
    >
    <script
      async
      src="https://platform.twitter.com/widgets.js"
      charset="utf-8"
    ></script>
  </p>

  <small><a class="text-small text-muted" href=""
    >Pattern vector created by macrovector_official - www.freepik.com</a
  ></small>
</footer>
