<!-- Header -->
<header id="header">
  <div class="row">
    <div class="col-12">
      <div class="hero">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-sm-12 col-md-8">
            <h1>Learn anything and retain forever</h1>
            <p class="lead">
              <mark class="mark-dark">Spaced Cards</mark> is an app that
              implement a Spaced Repetition System (SRS) that allow you to
              improve your long-term memory.<br />
              It’s use the concept of flashcards and the psychological spacing
              effect with a little bit of magic to personalize the learning
              experience.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-2 col-lg-4"></div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-4">
      <div class="jumbotron text-center">
        <h5>The alpha version of Spaced Cards is almost ready!</h5>
        <p>
          Don't miss it, subscribe here.
        </p>
        <form
          action="https://buttondown.email/api/emails/embed-subscribe/sprintstudio"
          method="post"
          target="popupwindow"
          onsubmit="window.open('https://buttondown.email/sprintstudio', 'popupwindow')"
          class="embeddable-buttondown-form"
        >
          <div class="input-group">
            <input
              type="email"
              name="email" id="bd-email"
              class="form-control"
              placeholder="Your email"
              aria-label="Your email"
              aria-describedby="basic-addon2"
            />
            <input type="hidden" name="tag" value="spacedcards"/>
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit" value="Subscribe">
                Subscribe
              </button>
            </div>
          </div>
          <small class="text-muted">I hate SPAM!!</small>
        </form>
      </div>
    </div>
  </div>
</header>
