<section id="how-it-works">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-sm-12 col-md-4">
      <h2 class="section-title">Ecco come funziona</h2>
      {% for step in site.data.how_it_works.steps %} 
      {% assign module = step.number | modulo:2 %} 
      <div class="media">
        <div class="media-image mr-3">
          <p>{{ step.number }}</p>
        </div>
        <div class="media-body">
          <h5 class="media-title mt-0">{{ step.title }}</h5>
          <p class="media-content">{{ step.description }}</p>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</section>
