<section id="why">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-2">
      {% for member in site.data.content.team %}
      <img src="{{ member.image }}" class="card-img" alt="..." />
      {% endfor %}
    </div>
    <div class="col-sm-12 col-md-4">
      <h2 class="section-title">Hey 👋, I'm Davide</h2>
      <p class="section-content">
        I'm Davide an Italian Indie Hacker founder of Sprint Studio. 
        I love crafting software to help people and I'm here to build a real connection with you during the development.<br>
        Subscribe for the <mark class="mark-light">launch of the alpha version.</mark>
      </p>
      <span class="text-small align-middle">
        
      </span>
    </div>
  </div>
</section>
